/* Colour palette F4ACB7 dusty pink
                  7A9CC6 blue-ish
                  9684A1 lavender
                  99EDCC pastel green
                  D8DBE2 grey */

body {
  background: #d8dbe2;
  font-family: "Lato";
  text-align: center;
}
ul {
  list-style-type: none;
  background: #f4acb7;
  text-align: left;
  text-indent: 0.5rem;
  text-decoration: none;
  padding: 20px;
  border-radius: ;
}
/* styling for link colours */
a:link {
  color: rgb(153, 114, 243);
}
a:visited {
  color: ;
} /* May change visted colour */
a:hover {
  color: hotpink;
}

ul li {
  background: #dfcfe9;
}
.banner {
  /* second font is a back up, incase Montserrat doesn't load */
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  background: #99edcc;
  padding: 1rem;
  color: #cc8cf3;
  background: linear-gradient(to bottom right, #99edcc, #47d8fc);
}

.planetbanner {
  background-color: #7a9cc6;
  color: white;
  padding: 5px;
  background: linear-gradient(#7a9cc6, #cc8cf3dc); /* fade */
}

.GTdive {
  width: 100vw;
  height: auto;
}

