/* Colour palette F4ACB7 dusty pink
                  7A9CC6 blue-ish
                  9684A1 lavender
                  99EDCC pastel green
                  D8DBE2 grey */
:root {
  --title: rgba(153, 237, 204, 1);
}

html {
  background-image: url(images/double-bubble-outline.png);
  box-sizing: border-box;
}

/* Nav bar transitions and styling */
header {
  text-align: center;
  position: fixed;
  width: 100%;
  background: var(--title);
  /* font-size: 0rem; */
  top: 0%;
  left: 0;
  z-index: 999;
}
/* !important to insure the values below will be used*/
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  background: var(--title);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  list-style: none;
  padding: 0%;
  margin: 0;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #9684a1;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1.5fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    /* all: unset; */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #9684a1;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
.banner {
  /* Styling for main banner. Second font is a back up, incase Montserrat doesn't load */
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  /* background: #99edcc; */
  padding: 0rem;
  color: #f4acb7;
  /* changes position of "logo" */
  grid-column: 1 / 3;
}

/* Nav bar desktop and mobile end */

body {
  /* background: white; */

  font-family: "Lato";
  text-align: center;
  scroll-behavior: smooth;
  display: block;
  padding: 0px;
}
ul {
  list-style-type: none;
  /* background: #f4acb7; */
  text-align: left;
  text-indent: 0.5rem;
  text-decoration: none;
  padding: 20px;
  border-radius: ;
}
/* styling for link colours */
a:link {
  color: rgb(153, 114, 243);
}
a:visited {
  color: ;
} /* May change visted colour */

/* ul li {
  background: #dfcfe9;
} */

.planetbanner {
  background-color: #7a9cc6;
  color: white;
  padding: 0.3rem;
  background: linear-gradient(#7a9cc6, #cc8cf3dc); /* fade */
  width: 100%;
}

.planetbanner:hover {
  background-color: red;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
/* Carousel Start */
#carousel-container {
  /* width: 100vh;
  height: 100vh; */

  /* margin: auto; */
  /* overflow: hidden; */
  /* position: relative; */
  /* box-sizing: border-box; */
  top: 0px;
}

.pic-slides {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* margin: auto; */
  top: 0px;
}

.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* display: none; */
  /* opacity: 0;
  transition: opacity 0.75s ease-in-out; */
}

/* .slideshow-img:first-child {
  display: block;
} */

/* .picture {
  top: 0px;
  display: flex;
  position: relative;
} */

.GTdiveimg {
  width: 100vw;
  height: auto;
}
