/* Colour palette F4ACB7 dusty pink
                  7A9CC6 blue-ish
                  9684A1 lavender
                  99EDCC pastel green
                  D8DBE2 grey */
:root {
  --title: rgba(153, 237, 204, 1);
}
header {
  text-align: center;
  position: fixed;
  width: 100%;
  background: var(--title);
}
nav {
  position: absolute;
  top: 73%;
  text-align: left;
  left: 0;
  background: var(--title);
}
nav ul {
  list-style: none;
  padding: 0%;
  margin: 0;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 1rem;
}
nav a:hover {
  color: #f4acb7;
}
body {
  background: #d8dbe2;
  font-family: "Lato";
  text-align: center;
  scroll-behavior: smooth;
  display: block;
}
ul {
  list-style-type: none;
  /* background: #f4acb7; */
  /*text-align: left; */
  text-indent: 0.5rem;
  text-decoration: none;
  padding: 20px;
  border-radius: ;
}
/* styling for link colours */
a:link {
  color: rgb(153, 114, 243);
}
a:visited {
  color: ;
} /* May change visted colour */

/* ul li {
  background: #dfcfe9;
} */
.banner {
  /* Styling for main banner. Second font is a back up, incase Montserrat doesn't load */
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  /* background: #99edcc; */
  padding: 0rem;
  color: #f4acb7;
}

.planetbanner {
  background-color: #7a9cc6;
  color: white;
  padding: 0.3rem;
  background: linear-gradient(#7a9cc6, #cc8cf3dc); /* fade */
}

.planetbanner:hover {
  background-color: red;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.GTdiveimg {
  width: 100vw;
  height: auto;
}
